body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: rgb(41, 41, 41);
}

.screen {
  width: 314px;
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#screen {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
  border-radius: 5px;
}

#menu {
  margin-left: 25%;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#delete {
  background-color: orangered;
}

input[type="button"]:hover {
  background-color: #ddd;
}

input[type="button"]:last-child {
  margin-right: 0;
}
